version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: mongodb-account
    restart: always
    ports:
      - "27022:27017"
    environment:
      MONGO_INITDB_DATABASE: accountdb
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: