server:
  port: 8082
spring:
  application:
    name: account-service
  data:
    mongodb:
      database: accountdb
      uri: mongodb://localhost:27022/accountdb
management.endpoints.web.exposure.include: "*"
springdoc:
  swagger-ui:
    path: /swagger