version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: mongodb-customer
    restart: always
    ports:
      - "27021:27017"
    environment:
      MONGO_INITDB_DATABASE: customerdb
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: